
$light-mc :#7ed56f; //mc = main-color
$medium-mc : #55c57a;
$dark-mc : #28b485;

$secondary-light : #ffb900;
$secondary-medium : #ff7730;


$tertiary-light : #2998ff;
$tertiary-medium : #5643fa;

$white : white; //tc : text-color
$g-default  : #777;
$g-light : #f7f7f7;
$g-dark : #333;
$black : #000;

$gutter-cols : 6rem;
$gutter-rows : 8rem;
$grid-width : 114rem; 

$base-font : 1.6rem;

$radius-small : 8px;