.u-center-text { text-align: center; }
.u-text-upper { text-transform: uppercase;}


.u-margin-bottom-big { margin-bottom : 8rem; }
.u-margin-bottom-medium { margin-bottom : 4rem; }
.u-margin-bottom-small { margin-bottom : 2rem; }
.u-margin-bottom-smallest { margin-bottom : 1rem; }

.u-margin-right-medium { margin-right: 4rem;}

.u-m-auto {margin : 0 auto;}